{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Alumni Gloria Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'dashboard/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="{% static 'dashboard/js/sweetalert2.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow bg-dark header-text-light">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>
        <div class="app-header__content">
            <div class="app-header-left">
                <ul class="header-menu nav">
                    <li class="nav-item">
                        <a href="{% url 'dashboard:index' %}" class="nav-link">
                            <i class="nav-link-icon fa fa-database"> </i>
                            Home
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <a type="button" href="/tables/users/{{user.id}}" tabindex="0" class="dropdown-item">My Account</a>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item" onclick="logout()">Log Out</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    {{user.first_name}} {{user.last_name}}
                                </div>
                                <div class="widget-subheading">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-main">
        <div class="app-sidebar bg-dark sidebar-shadow sidebar-text-light">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading">Tables</li>
                        {% for table in tables %}
                        <li>
                            {% if table.name == table_name %}
                            <a href="/tables/{{table.name}}" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                {{table.display}}
                            </a>
                            {% else %}
                            <a href="/tables/{{table.name}}">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                {{table.display}}
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div>
                                {% if table_name %}
                                {{table_display}}
                                <br/>
                                {% if mode == 'form_view' or mode == 'add' or mode == 'edit' %}
                                <a href="/tables/{{table_name}}" type="button" class="btn-shadow btn btn-dark mt-2">
                                    <i class="nav-link-icon fa fa-chevron-left"></i> Exit Form
                                </a>
                                {% endif %}
                                {% else %}
                                Alumni Gloria Dashboard
                                {% endif %}
                            </div>
                        </div>
                        <div class="page-title-actions">
                            {% if table_name %}
                            {% if mode == 'form_view' or mode == 'edit' %}
<!--                            <a href="#" type="button" class="btn-shadow btn btn-secondary mt-2" onclick="duplicate_record('{{table_name}}', '{{record_id}}')">-->
<!--                                <i class="nav-link-icon fa fa-copy"></i>  Duplicate-->
<!--                            </a>-->
                            <a href="#" type="button" class="btn-shadow btn btn-danger mt-2" onclick="delete_confirmation('{{table_name}}', '{{record_id}}')">
                                <i class="nav-link-icon fa fa-trash"></i>  Delete
                            </a>
                            {% endif %}
                            {% if mode != 'add' %}
                            <a href="/tables/{{table_name}}/0/add" type="button" class="btn-shadow btn btn-info mt-2">
                                <i class="nav-link-icon fa fa-plus"></i>  Create
                            </a>
                            {% endif %}
                            {% if mode == 'add' %}
                            <a href="/tables/{{table_name}}" type="button" class="btn-shadow btn btn-secondary mt-2">
                                <i class="nav-link-icon fa fa-recycle"></i>  Discard
                            </a>
                            <a href="#" type="button" class="btn-shadow btn btn-info mt-2" onclick="add_record('{{table_name}}')">
                                <i class="nav-link-icon fa fa-save"></i>  Save
                            </a>
                            {% endif %}
                            {% if mode == 'edit' %}
                            <a href="/tables/{{table_name}}/{{record_id}}" type="button" class="btn-shadow btn btn-secondary mt-2">
                                <i class="nav-link-icon fa fa-recycle"></i>  Discard
                            </a>
                            <a href="#" type="button" class="btn-shadow btn btn-info mt-2" onclick="update_record('{{table_name}}', '{{record_id}}')">
                                <i class="nav-link-icon fa fa-save"></i>  Save
                            </a>
                            {% endif %}
                            {% if mode == 'form_view' %}
                            <a href="/tables/{{table_name}}/{{record_id}}/edit" type="button" class="btn-shadow btn btn-warning mt-2">
                                <i class="nav-link-icon fa fa-edit"></i>  Edit
                            </a>
                            {% endif %}
                            {% if mode == 'tree_view' %}
                            <div class="d-inline-block dropdown" style="text-align:left;">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-secondary mt-2">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-tasks fa-w-20"></i>
                                            </span>
                                    Actions To Selected Records
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" onclick="delete_confirmation('{{table_name}}', '', {{data_count}})">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>
                                                        Delete
                                                    </span>
                                                <div class="ml-auto badge badge-pill badge-danger"> <i class="fa fa-trash"></i></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    {% if table_name %}
                    {% if mode == 'tree_view' %}
                        <div class="col-lg-12">
                            <iframe id="txtArea1" style="display:none"></iframe>
                            <h5 class="card-title"></h5>
                            <div id="table-scroll" class="table-scroll" style="background:white; overflow-x:scroll;">
                                <table class="mb-0 table table-striped table-dashboard" style="width:100%;">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkbox_{{table_name}}_all" name="checkbox_{{table_name}}_all" value="" onclick="toggle_checkbox('{{table_name}}', '{{data_count}}')"></th>
                                        <th>No.</th>
                                        {% for rec in data.fields %}
                                            {% if rec.tree_view %}
                                            {% if not rec.staff_only or user.is_staff %}
                                            <th class="th-bg" onclick="">{{rec.display}}</th>
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    {% for rec in data.records %}
                                    <tr class="tr-bg">
                                        <td><input type="hidden" id="hidden_{{table_name}}_{{forloop.counter}}" value="{{rec.id}}"/><input type="checkbox" id="checkbox_{{table_name}}_{{forloop.counter}}" name="checkbox_{{table_name}}_{{forloop.counter}}" value=""></td>
                                        <th scope="row" onclick="window.location='/tables/{{table_name}}/{{rec.id}}';">{{forloop.counter}}</th>
                                        {% for rec2 in data.fields %}
                                            {% for key, values in rec.items %}
                                                {% if key == rec2.name and rec2.tree_view %}
                                                <td onclick="window.location='/tables/{{table_name}}/{{rec.id}}';">{{values}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% elif mode == 'form_view' or mode == 'add' or mode == 'edit' %}
                        <div class="col-lg-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <form id="data_form">
                                        {% for rec in data.fields %}
                                            {% if not rec.staff_only or user.is_staff %}
                                            <div class="position-relative row form-group">
                                                {% if mode == 'edit' and rec.type == 'password' %}
                                                <label for="{{rec.name}}" class="col-sm-2 col-form-label">Change Password</label>
                                                {% else %}
                                                <label for="{{rec.name}}" class="col-sm-2 col-form-label">{{rec.display}}{% if rec.required and rec.type != 'boolean' %}<span style="color:red;">*</span>{% endif %}</label>
                                                {% endif %}
                                                <div class="col-sm-10">
                                                    {% if rec.type == 'many2one' %}
                                                        {% if mode == 'form_view' %}
                                                            {% if rec.value %}
                                                            <span><a href="/tables/{{rec.related_table}}/{{rec.value.id}}">{{rec.value.display}}</a></span>
                                                            {% else %}
                                                            <span>False</span>
                                                            {% endif %}
                                                        {% else %}
                                                            <select name="{{rec.name}}" id="{{rec.name}}" class="mb-2 form-control form-input-element" {% if rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}>
                                                                <option value=""></option>
                                                                {% for opt in rec.options %}
                                                                <option value="{{opt.0}}" {% if opt.0 == rec.value.id %}selected{% endif %}>{{opt.1}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        {% endif %}
                                                    {% elif rec.type == 'one2many' %}
                                                        {% if rec.value %}
                                                        <table class="mb-0 table table-striped" style="width:100%;">
                                                            <tr>
                                                                <th>No.</th>
                                                                {% for header_rec in rec.tree_fields %}
                                                                <th>{{header_rec.1}}</th>
                                                                {% endfor %}
                                                            </tr>
                                                            {% for otm_rec in rec.value %}
                                                            <tr>
                                                                <td onclick="window.location='/tables/{{rec.related_table}}/{{otm_rec.id}}';">{{forloop.counter}}</td>
                                                                {% for header_rec in rec.tree_fields %}
                                                                    {% for otm_key, otm_val in otm_rec.items %}
                                                                        {% if otm_key == header_rec.0 %}
                                                                            <td onclick="window.location='/tables/{{rec.related_table}}/{{otm_rec.id}}';">{{otm_val}}</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                    {% else %}
                                                        <table class="mb-0 table table-striped" style="width:100%;">
                                                            <tr>
                                                                <th>No Data Available</th>
                                                            </tr>
                                                        </table>
                                                    {% endif %}
                                                    {% elif rec.type == 'selection' %}
                                                        <select name="{{rec.name}}" id="{{rec.name}}" class="mb-2 form-control form-input-element" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}>
                                                            <option value=""></option>
                                                            {% if mode != 'add' %}
                                                            {% for opt in rec.options %}
                                                            <option value="{{opt.0}}" {% if opt.0 == rec.value %}selected{% endif %}>{{opt.1}}</option>
                                                            {% endfor %}
                                                            {% else %}
                                                            {% for opt in rec.options %}
                                                            <option value="{{opt.0}}" {% if opt.0 == rec.default_value %}selected{% endif %}>{{opt.1}}</option>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    {% elif rec.type == 'boolean' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="checkbox" class="form-control form-input-element" {% if mode != 'add' %}{% if rec.value %}checked{% endif %} {% else %}{% if rec.default_value %}checked {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %}/>
                                                    {% elif rec.type == 'image' %}
                                                        {% if mode != 'add' %}
                                                            {% if rec.value and rec.value != 'False' %}
                                                                <div class="row">
                                                                    <div class="col-sm-11">
                                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="file" class="form-control form-input-element" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %}/>
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                        <button type="button" class="btn btn-danger" onclick="clear_file('{{rec.name}}');" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %}>Clear</button>
                                                                    </div>
                                                                </div>
                                                                <br/>
                                                                <img src="{{rec.value}}" style="max-width:20vw; max-height:20vm;"/>
                                                                <br/>
                                                                <input type="checkbox" id="remove_file_{{rec.name}}" name="remove_file_{{rec.name}}" class="remove-file-check" {% if mode == 'form_view' %}disabled{% endif %}/> Remove {{rec.display}} File
                                                            {% else %}
                                                                <div class="row">
                                                                    <div class="col-sm-11">
                                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="file" class="form-control form-input-element" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                        <button type="button" class="btn btn-danger" onclick="clear_file('{{rec.name}}');" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %}>Clear</button>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="row">
                                                                <div class="col-sm-11">
                                                                    <input name="{{rec.name}}" id="{{rec.name}}" type="file" class="form-control form-input-element" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button type="button" class="btn btn-danger" onclick="clear_file('{{rec.name}}');" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %}>Clear</button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% elif rec.type == 'date' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="text" class="form-control date-picker form-input-element" autocomplete="off" {% if mode != 'add' and rec.value %}value="{{rec.value}}" {% else %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                    {% elif rec.type == 'datetime' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="text" class="form-control date-time-picker form-input-element" autocomplete="off" {% if mode != 'add' and rec.value %}value="{{rec.value}}" {% else %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                    {% elif rec.type == 'password' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="password" class="form-control form-input-element" {% if mode == 'form_view' %}value="{{rec.value}}" {% elif mode == 'add' %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required and mode == 'add' %}required{% endif %}/>
                                                    {% elif rec.type == 'int' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="number" class="form-control form-input-element" {% if mode != 'add' %}value="{{rec.value}}" {% else %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                    {% elif rec.type == 'float' %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="number" step="0.01" class="form-control form-input-element" {% if mode != 'add' %}value="{{rec.value}}" {% else %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                    {% elif rec.type == 'text' %}
                                                        <textarea name="{{rec.name}}" id="{{rec.name}}" class="form-control form-input-element" {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}>{% if mode != 'add' %}{{rec.value}}{% else %}{% if rec.default_value %}{{rec.default_value}}{% endif %}{% endif %}</textarea>
                                                    {% else %}
                                                        <input name="{{rec.name}}" id="{{rec.name}}" type="text" class="form-control form-input-element" {% if mode != 'add' %}value="{{rec.value}}" {% else %}{% if rec.default_value %}value="{{rec.default_value}}" {% endif %}{% endif %} {% if mode == 'form_view' or rec.readonly %}disabled{% endif %} {% if rec.required %}required{% endif %}/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% else %}
                    Welcome to Alumni Gloria Dashboard!
                    {% endif %}
                </div>
            </div>
            <div class="app-wrapper-footer">
                <div class="app-footer">
                    <div class="app-footer__inner">
                        <div class="app-footer-left">
                            Alumni Gloria Dashboard
                        </div>
                        <div class="app-footer-right">
                            <ul class="nav">
                                <li class="nav-item">
                                    All Rights Reserved.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}"></script>
    <script>
    $('.date-picker').daterangepicker({
          singleDatePicker: true,
          autoUpdateInput: true,
          showDropdowns: true,
          opens: 'center',
          locale: {
              format: 'DD MMM YYYY',
          }
      });
      $('.date-time-picker').daterangepicker({
          timePicker: true,
          singleDatePicker: true,
          autoUpdateInput: true,
          showDropdowns: true,
          timePicker24Hour: true,
          opens: 'center',
          locale: {
              format: 'DD MMM YYYY HH:mm',
          }
      });
      </script>
</body>
</html>
