{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Alumni Gloria Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'dashboard/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/sweetalert2.min.css' %}">
    <script type="text/javascript" src="{% static 'dashboard/js/sweetalert2.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="customWrapper fadeInDown">
    <div class="container customFormContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <img src="{% static 'dashboard/img/logo-login.png' %}" id="icon" alt="Gloria School Alumni" style="width:100%; max-width:200px;"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <br/>
        <!-- Login Form -->
        <form id="login_form">
            <div class="position-relative row form-group" style="margin-left: 15px; margin-right: 15px;">
                <label for="login_email" class="col-sm-12 col-form-label" style="text-align:left;">Email</label>
                <div class="col-sm-12">
                    <input type="text" id="login_email" name="login_email" class="form-control form-input-element" placeholder="Email" required>
                </div>
            </div>
            <div class="position-relative row form-group" style="margin-left: 15px; margin-right: 15px;">
                <label for="login_password" class="col-sm-12 col-form-label" style="text-align:left;">Password</label>
                <div class="col-sm-12">
                    <input type="password" id="login_password" name="login_password" class="form-control form-input-element" placeholder="Password" required>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn-shadow btn btn-info">
                        Login
                    </button>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </form>
        <br/>

        <!-- Remind Passowrd -->
        <div class="customFormFooter">
            <span>Don't have an acccount yet? <a href="{% url 'dashboard:signup' %}">Sign Up Here</a>!</span>
        </div>

    </div>
</div>

<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script>
    $("#login_form").submit(function(event){
        event.preventDefault();
        login();
    });
</script>
</body>
</html>